<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->
 
<!--This is an example of what you are expected to do here-->

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="Post Title">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="Post Body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/post/<%= post.id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="<%= post.post_title %>">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="<%= post.post_body %>">
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
             <p>I am a post for this ID = <%= post.id %></p>
             <p>Post Title: <%= post.post_title %></p>
             <p>Post Body:  <%= post.post_body %></p>
             <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post <%= post.post_body %></p>
                     <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>
<!--POST VIEW END HERE-->

<<!--USER VIEW STARTS HERE -->
<!--complete logic for user view-->
<% if (title == 'GET function to create user') { %>
<div class="col-sm-8">    
    <div class="jumbotron">
        <form action="/blog/user/create" method="post">
          User Firstname:<br>
          <input type="text" name="first_name" value="">
          <br>
          User Lastname:<br>
          <input type="text" name="last_name" value="">
          <br>
          User Username:<br>
          <input type="text" name="username" value="">
          <br>
          User role:<br>
          <input type="text" name="role" value="">
          <br>
          User email:<br>
          <input type="email" name="email" value="">
          <br><br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>

<% } else if (title == 'POST function to create user') { %>
<div class="col-sm-8">    
    <div class="jumbotron">
        <form action="/blog/user/create" method="post">
          User Firstname:<br>
          <input type="text" name="first_name" value="">
          <br>
          User Lastname:<br>
          <input type="text" name="last_name" value="">
          <br>
          User Username:<br>
          <input type="text" name="username" value="">
          <br>
          User role:<br>
          <input type="text" name="role" value="">
          <br>
          User email:<br>
          <input type="email" name="email" value="">
          <br><br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>
     
<% } else if (title == 'GET function to update user') { %>
<div class="col-sm-8">    
    <div class="jumbotron">
        <form action="/blog/user/<%=userUpdate.id%>/update" method="post">
          User Firstname:<br>
          <input type="text" name="first_name" value="<%=userUpdate.first_name%>">
          <br>
          User Lastname:<br>
          <input type="text" name="last_name" value="<%=userUpdate.last_name%>">
          <br>
          User Username:<br>
          <input type="text" name="username" value="<%=userUpdate.username%>">
          <br>
          User role:<br>
          <input type="text" name="role" value="<%=userUpdate.role%>">
          <br>
          User email:<br>
          <input type="email" name="email" value="<%=userUpdate.email%>">
          <br><br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>

<% } else if (title == 'POST function to update user') { %>
<div class="col-sm-8">    
    <div class="jumbotron">
        <form action="/blog/user/<%=userUpdate.id%>/update" method="post">
          User Firstname:<br>
          <input type="text" name="first_name" value="<%=userUpdate.first_name%>">
          <br>
          User Lastname:<br>
          <input type="text" name="last_name" value="<%=userUpdate.last_name%>">
          <br>
          User Username:<br>
          <input type="text" name="username" value="<%=userUpdate.username%>">
          <br>
          User role:<br>
          <input type="text" name="role" value="<%=userUpdate.role%>">
          <br>
          User email:<br>
          <input type="email" name="email" value="<%=userUpdate.email%>">
          <br><br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>

<% } else if (title == 'GET function to delete user') { %>
<div class="col-sm-8">    
    <div class="jumbotron">
        <form action="/blog/user/<%=userDelete.id%>/delete" method="post">
          User Firstname:<br>
          <input type="text" name="first_name" value="<%=userDelete.first_name%>">
          <br>
          User Lastname:<br>
          <input type="text" name="last_name" value="<%=userDelete.last_name%>">
          <br>
          User Username:<br>
          <input type="text" name="username" value="<%=userDelete.username%>">
          <br>
          User role:<br>
          <input type="text" name="role" value="<%=userDelete.role%>">
          <br>
          User email:<br>
          <input type="email" name="email" value="<%=userDelete.email%>">
          <br><br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>

<% } else if (title == 'POST function to delete user') { %>
<div class="col-sm-8">    
    <div class="jumbotron">
        <form action="/blog/user/<%=userDelete.id%>/delete" method="post">
          User Firstname:<br>
          <input type="text" name="first_name" value="<%=userDelete.first_name%>">
          <br>
          User Lastname:<br>
          <input type="text" name="last_name" value="<%=userDelete.last_name%>">
          <br>
          User Username:<br>
          <input type="text" name="username" value="<%=userDelete.username%>">
          <br>
          User role:<br>
          <input type="text" name="role" value="<%=userDelete.role%>">
          <br>
          User email:<br>
          <input type="email" name="email" value="<%=userDelete.email%>">
          <br><br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>

<% } else if (title == 'A single user record') { %>
<div class="col-sm-8">    
    <div class="">
         <h1>Details of a Single User</h1>
         <p>I am a user for this ID = <%=userDetail.id%></p>
         <p>User Firstname: <%=userDetail.first_name%></p>
         <p>User Lastname:  <%=userDetail.last_name%></p>
         <p>User Username:  <%=userDetail.username%></p>
         <p>User Role:      <%=userDetail.role%></p>
         <p>User Email:     <%=userDetail.email%></p>
         <a href="/blog/user/<%=userDetail.id%>/update">Edit  User</a> | <a href="/blog/user/<%=userDetail.id%>/delete">Delete User</a>

    </div>
</div>
<% } else if (title == 'A list of all users') { %>
<div class="col-sm-8">    
    <div class="">
    <h3>List showing all Users</h3>
    <ol>
    <% users.forEach(function(user) { %>
            <li>
                <h5><a href="/blog/post/<%= user.id %>"><%=user.first_name%>, <%=user.email%></a></h5>
                <p>User Firstname: <%=user.first_name%></p>
                <p>User Lastname:  <%=user.last_name%></p>
                <p>User Username:  <%=user.username%></p>
                <p>User Role:      <%=user.role%></p>
                <p>User Email:     <%=user.email%></p>
                <a href="/blog/user/<%=user.id%>/update">Edit  User</a> | <a href="/blog/user/<%=user.id%>/delete">Delete User</a>
            </li>
        <br/>
    <% }); %>
    </ol>
    </div>
</div>
<% } else { %>
<div class="col-sm-8">    
    <div class="jumbotron">
        <h1><%= title %></h1>
        <p>The main content of the page goes here</p>
    </div>
</div>
<% } %>

<!--AUTHOR VIEW END HERE-->

<!--COMMENT VIEW STARTS HERE-->
<!--complete logic for category view-->

<!--COMMENT VIEW END HERE-->

<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->
<!--CATEGORY VIEW END HERE-->


<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->


