<!-- views/partials/footer.ejs -->
<center>
<p>The links below will be removed. It is a quick way to test all the CRUD routes</p>




<!-- User LINK -->

<!--router.get('/user/create', user_controller.user_create_get);-->
<a href="/blog/user/create">User Create </a> | 

<!--router.get('/users', user_controller.user_list);-->
<a href="/blog/users">User Detail All </a> 

<br/>
 


</center>
<br/>
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
